
@using Oasis.Models
@using Oasis.Models.Login

@{
    ViewBag.Title = "Consolidado Cierre de Caja";
    var id_usuario = (User as CustomPrincipal).id_usuario;
    var as2 = new AS2Context();
    var db = new as2oasis();
    var empresas = db.detalle_usuario_empresa_sucursal
        .Where(x => x.id_usuario == id_usuario)
        .GroupBy(x => x.empresaOasis.nombre)
        .Select(x => x.Key);
    var sucursales = db.detalle_usuario_empresa_sucursal
        .Where(x => x.id_usuario == id_usuario)
        .GroupBy(x => x.sucursalOasis.nombre)
        .OrderBy(x => x.Key)
        .Select(x => x.Key);
    var caja = as2.caja
        .GroupBy(x => x.nombre)
        .Select(x => x.Key);
    var vendedor = as2.usuario
        .Where(x => x.activo == true && x.indicador_agente_comercial == true)
        .GroupBy(x => x.nombre_usuario)
        .OrderBy(x => x.Key)
        .Select(x => x.Key);


}


<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Consolidado Cierre de Caja</h2>
                <div class="card-tools">
                    <button type="button" class="btn bg-primary btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-primary btn-sm" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- form start -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Empresa</label>
                            <select class="form-control" id="empresa" name="empresa">
                                <option value="0">Todas las empresas</option>
                                @foreach (var emp in empresas)
                                {
                                <option value="@emp">@emp</option>}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col" style=" text-align: center; ">
                            <label>Fecha Cierres</label>
                            <div class="row" style="
                                                text-align: center;
                                                place-content: center;
                                            ">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="fecha_corte">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuario</label>
                            <select class="form-control js-data-usuarios-ajax" id="vendedor">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col" style=" text-align: center; ">
                            <label>Region</label>
                            <div class="row" style="
                                                text-align: center;
                                                place-content: center;
                                            ">
                                <div class="col-md-10">
                                    <select class="form-control" id="sucursal" name="sucursal">
                                        <option value="0">Todas las regiones</option>
                                        @foreach (var suc in sucursales)
                                        {
                                            <option value="@suc">@suc</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cierre de Caja</label>
                            <select class="form-control js-data-cierres-ajax" id="cierre">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col" style=" text-align: center; ">
                            <label>Caja</label>
                            <div class="row" style="
                                                text-align: center;
                                                place-content: center;
                                            ">
                                <div class="col-md-10">
                                    <select class="form-control" id="caja" name="caja">
                                        <option value="0">Todas las cajas</option>
                                        @foreach (var ca in caja)
                                        {
                                            <option value="@ca">@ca</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="button" id="GenerarDatos" class="btn btn-primary  float-right">Buscar</button>
                </div>
            </div>
        </div>
</div>


@section Scripts {
    <script>
        ActivarUsuarios();
        ActivarCierres();

        function ActivarUsuarios() {
            $('.js-data-usuarios-ajax').select2({
                //selectOnClose: true,
                minimumInputLength: 2,
                language: {
                    inputTooShort: function () { return "Ingresar dos o más caracteres"; }
                },
                tags: [],
                ajax: {
                    url: '/Usuario/ObtenerUsuarios',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.username,
                                    id: item.id_usuario
                                }
                            })
                        };
                    },
                    dataType: 'json',
                    data: function (params) {
                        var query = {
                            textoBusqueda: params.term
                        }
                        return query;
                    }
                }
            }).on('change', function (e) {
                limpiarRolesSelect();
                ObtenerRolesPorUsuario();
                ObtenerSucursalesPorUsuario();
            });
        }

        function ActivarCierres() {
            $('.js-data-cierres-ajax').select2({
                //selectOnClose: true,
                minimumInputLength: 2,
                language: {
                    inputTooShort: function () { return "Ingresar dos o más caracteres"; }
                },
                tags: [],
                ajax: {
                    url: 'ObtenerCierres',
                    type: 'POST',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.username,
                                    id: item.id_usuario
                                }
                            })
                        };
                    },
                    dataType: 'json',
                    data: function (params) {
                        var query = {
                            textoBusqueda: params.term
                        }
                        return query;
                    }
                }
            }).on('change', function (e) {
                limpiarRolesSelect();
                ObtenerRolesPorUsuario();
                ObtenerSucursalesPorUsuario();
            });
        }

        function VerCobros(id_organizacion, numero) {
            window.open("VerCobros?id_organizacion=" + id_organizacion, "VerCobros?numero=" +numero, '_blank');
        }

        function Seleccionar(iid_organizacion, numero) {
            window.open("VerCobros?id_organizacion=" + id_organizacion, "VerCobros?numero=" + numero, '_blank');
        }

        $("#GenerarDatos").click(function () {
            var fecha_desde = ConvertirFecha($('#fecha_corte').data('daterangepicker').startDate._d);
            var fecha_hasta = ConvertirFecha($('#fecha_corte').data('daterangepicker').endDate._d);
            var empresa = $('#empresa').val();
            var sucursal = $('#sucursal').val();
            var usuario = $('#vendedor').val();
            var caja = $('#caja').val();
            var numero = $('#cierre').val();

            iniciaLoading();

            $.ajax({
                url: 'ObtenerCierreCaja',
                type: 'POST',
                data: JSON.stringify({
                    fecha_desde: fecha_desde,
                    fecha_hasta: fecha_hasta,
                    sucursal: sucursal,
                    usuario: usuario,
                    caja: caja,
                    numero: numero,
                    empresa: empresa

                }),
                dataType: "JSON",
                contentType: "application/JSON",
                success: function (d) {
                    $('#contenedorTabla').remove();
                    var contenedorTabla = document.createElement("div");
                    contenedorTabla.className = "col-md-12";
                    contenedorTabla.id = "contenedorTabla"
                    var row = document.createElement("div");
                    row.className = "row";
                    row.appendChild(contenedorTabla);
                    $('#contenedorPrimario').append(row);
                    var col = [];
                    var encabezado = ["Emresa", "Numero",
                        "Usuario", "Sucursal", "Caja", "Fecha Hasta",
                        "Valor Usuario", "Estado", "Codigo Movil", " "];
                    for (var i = 0; i < d.length; i++) {
                        for (var key in d[i]) {
                            if (col.indexOf(key) === -1) {
                                col.push(key);
                            }
                        }
                    }


                    // CREATE DYNAMIC TABLE.
                    var div = document.createElement("div");
                    var row = document.createElement("div");
                    row.className = "row col-md-4";
                    var card = document.createElement("div");
                    card.className = "card";
                    card.style = "font-size: 15px;overflow-x: scroll;";
                    var cardbody = document.createElement("div");
                    cardbody.className = "card-body";
                    var table = document.createElement("table");
                    table.className = 'table table-hover tableDetalle';
                    table.id = "tableDetalle";
                    table.style = '';


                    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE
                    var thead = document.createElement("thead");
                    table.appendChild(thead);
                    var tr_head = document.createElement("tr");
                    for (var i = 0; i < encabezado.length; i++) {
                        var th = document.createElement("th");      // TABLE HEADER.
                        th.innerHTML = encabezado[i];
                        tr_head.appendChild(th);
                    }

                    thead.appendChild(tr_head);

                    var tbody = document.createElement("tbody");
                    table.appendChild(tbody);
                    var tr_body = document.createElement("tr");
                    // ADD JSON DATA TO THE TABLE AS ROWS.
                    for (var i = 0; i < d.length; i++) {
                        tr_body = document.createElement("tr");
                        for (var j = 0; j < col.length; j++) {
                            var tabCell = tr_body.insertCell(-1);
                            tabCell.innerHTML = d[i][col[j]];
                            tabCell.style = ' white-space: nowrap;';
                        }

                        var tabCell = tr_body.insertCell(-1);
                        tabCell.innerHTML = '<button class="btn btn-info imprimir" onClick="VerCobros(\'' + d[i][col[10]] + '\')" >Ver Cobros</button>';
                        //tabCell.innerHTML = '<input class="form-control" type="checkbox" id="chkSeleccionar" onClick="Seleccionar(\'' + d[i][col[11]] + '\')" >Seleccionar>';
                        tabCell.style = ' white-space: nowrap;';

                        //var tabCell = tr_body.insertCell(-1);
                        //tabCell.innerHTML = '<input class="form-control" type="checkbox" id="chkSeleccionar" onClick="Seleccionar(\'' + d[i][col[9]] + '\')" >Seleccionar>';
                        //tabCell.style = ' white-space: nowrap;';
                        tbody.appendChild(tr_body);
                    }

                    cardbody.appendChild(table);
                    card.appendChild(cardbody);
                    div.appendChild(card);
                    //CrearTablaDetalle(div.outerHTML, titulo);
                    $('#contenedorTabla').append(div);
                    $('#tableDetalle').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ],
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                        }
                    });
                    cierraLoading();
                },
                error: function (e) {
                    cierraLoading();
                    Toast.fire({
                        icon: 'error',
                        title: 'Hubo un error al intentar generar.'
                    })
                }
            })
        });

        $('#fecha_corte').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY',
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
            },
            startDate: firstDay,
            endDate: lastDay
        });

    </script>
}