@model IEnumerable<Oasis.Models.presupuesto_cabecera>

@{
    ViewBag.Title = "Index";
    ViewBag.Modulo = "Presupuesto";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @using (Html.BeginForm("Index", "Presupuesto", FormMethod.Get))
            {
                <div class="card-header">
                    <div class="card-tools">
                        <div class="input-group input-group-lg col-md-12">
                            @*@Html.ActionLink("Crear nuevo", "Create",                                      
                                        new { @class = "btn btn-lg btn-info" })*@
                            <a value="" class="btn btn-lg btn-info" href="Presupuesto/Create">
                                Crear nuevo
                            </a>
                        </div>
                    </div>
                </div>
                @*<p>
                        Búsqueda: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="" placeholder="Buscar..." />
                    </p>*@
            }
            <div class="card-body table-responsive">
                <table class="table table-hover text-nowrap" id="tablePresupuestoCabecera">
                    <thead>
                        <tr>

                            <th>
                                CODIGO
                            </th>
                            <th>
                                EMPRESA
                            </th>
                            <th>
                                SUCURSAL
                            </th>
                            <th>
                                FECHA DESDE
                            </th>
                            <th>
                                FECHA HASTA
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.id_presupuesto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.empresa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sucursal)
                            </td>
                            <td>
                                @item.fecha_desde.ToShortDateString()
                            </td>
                            <td>
                                @item.fecha_hasta.ToShortDateString()
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary" data-toggle="dropdown" id="botonVerDetalle">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-hover dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        <span class="sr-only"> Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu" style="">
                                        @Html.ActionLink("Editar", "EditarPresupuesto",
                                         new { id_presupuesto = item.id_presupuesto },
                                         new { @class = "dropdown-item" })
                                        @Html.ActionLink("Duplicar", "DuplicarPresupuesto",
                                         new { id_presupuesto = item.id_presupuesto },
                                         new { @class = "dropdown-item" })
                                        @Html.ActionLink("Anular", "AnularPresupuesto",
                                         new { controller = "AnularPresupuesto", id_presupuesto = item.id_presupuesto },
                                         new { @class = "dropdown-item" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
                <br />
                <div class="card-body">

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts { 
    <script>
        $("#tablePresupuestoCabecera").DataTable({ 
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
            }
        });
    </script>

}