@*@model IEnumerable<Oasis.Models.empresa>*@
@model PagedList.IPagedList<Oasis.Models.empresa>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    ViewBag.Modulo = "Proveedor";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @using (Html.BeginForm("Index", "Proveedor", FormMethod.Get))
            {
                <div class="card-header">
                    <div class="card-tools">
                        <div class="input-group input-group-lg col-md-12">
                            <input type="search" class="form-control form-control-lg"
                                    name="SearchString" id="SearchString"
                                    placeholder="Buscar..." value="@(ViewBag.CurrentFilter as String)">
                            <div class="input-group-append">
                                <button type="submit" value="" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                @*<p>
                Búsqueda: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="" placeholder="Buscar..." />
            </p>*@
            }
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <tr>
                        <th>
                            IDENTIFICACION
                            @*@Html.DisplayNameFor(model => model.identificacion)*@
                        </th>
                        <th>
                            ACTIVO
                            @*@Html.DisplayNameFor(model => model.activo)*@
                        </th>
                        <th>
                            EMAIL
                            @*@Html.DisplayNameFor(model => model.email1)*@
                        </th>
                        <th>
                            @Html.ActionLink("NOMBRE COMERCIAL", "Index", new { sortOrder = ViewBag.NameSortParm })
                            @*@Html.DisplayNameFor(model => model.nombre_comercial)*@
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.identificacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.activo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre_comercial)
                            </td>
                        </tr>
                    }

                </table>
                <br />
                <div class="card-body">
                    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de  @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
                
            </div>
        </div>
    </div>
</div>