@model PagedList.IPagedList<Oasis.Models.GuiaUrbano>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@using (Html.BeginForm())
{
    <p>
        <div class="input-group mb-3 col-md-4">
            <input name="SearchString" id="SearchString" type="text"
                   placeholder="Secuencial de factura" class="form-control rounded-0">
            <span class="input-group-append">
                <button type="submit" class="btn btn-info btn-flat">Buscar</button>
            </span>
        </div>

        @*Buscar por factura: @Html.TextBox("SearchString")
            <input class="btn btn-primary" type="submit" value="Buscar" />*@
    </p>
}
<div class="card">
    <div class="card-body table-responsive ">
        <table class="table table-hover text-nowrap"
               id="tableGuiasUrbano">
            <thead>
                <tr>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Factura
                    </th>
                    <th>
                        Fecha factura
                    </th>
                    <th>
                        Guia Remisión
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.empresa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre_comercial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.secuencial_factura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_factura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.secuencial_guia)
                        </td>
                        <td>
                            <button id="Imprimir" class="btn btn-block btn-primary imprimir" data-codigo_organizacion="@item.id_organizacion" data-id_guia_remision="@item.id_guia_remision">Imprimir</button>
                        </td>
                    </tr>
                }

        </table>
        <br />
        <div class="col-md-8">
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Content/js/GuiaRemision.js"></script>
    <script>
        console.log("Test");
        $('#tableGuiasUrbano').DataTable({
            "processing": true, // for show progress bar
            "paging": false,
            "bInfo": false,
            "searching": false,
            //"scrollY": "500px",
            dom: 'Bfrtip',
            "buttons": [
                'copy', 'excel',  'print'
                //{ "extend": 'copy', "text": 'Copiar', "className": 'btn btn-default btn-xs' },
                //{ "extend": 'pdf', "text": 'PDF', "className": 'btn btn-default btn-xs' },
                //{ "extend": 'excel', "text": 'Excel', "className": 'btn btn-default btn-xs' },
                //{ "extend": 'print', "text": 'Imprimir', "className": 'btn btn-default btn-xs' },
            ],
            //initComplete: function () {
            //    $('.buttons-pdf').html('<i class="far fa-file-excel"></i>')
            //},
            //buttons: [
            //    'copy', 'csv', 'excel', 'pdf', 'print'
            //],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
            }
        });
    </script>
    
}

