@model IEnumerable<Oasis.Models.ordenes_compra>

@{
    ViewBag.Title = "Index";
    ViewBag.Modulo = "Órdenes de compra";
}


<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.empresa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.secuencial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.valor_total)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.empresa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.secuencial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.valor_total)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }

                </table>
                </div>
            </div>
        </div>
    </div>
