@model IEnumerable<Oasis.Models.user_login>

@{
    ViewBag.Title = "Index";
    ViewBag.Modulo = "Usuario";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_USER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PWD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEDULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPRESA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_DPTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profile_pic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_PRIV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.online)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inactivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultima_ip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_USER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PWD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEDULA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPRESA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DPTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profile_pic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_PRIV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.online)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inactivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultima_ip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
